.social .social_link {
	width: 49px;
	height: 49px;

}

.social .social_link.vk {
	background-position: 0 -49px;
}	

.social .social_link.fb {
	background-position: -98px -49px;
}	

.social .social_link.git {
	background-position: -49px -49px;
}	

.social .social_link.tw {
	background-position: -147px -49px;
}

.social .social_link.vk:hover {
	background-position: 0 0;
}	

.social .social_link.fb:hover {
	background-position: -98px 0;
}	

.social .social_link.git:hover {
	background-position: -49px 0;
}	

.social .social_link.tw:hover {
	background-position: -147px 0;
}

.hover_wrapper_works_element {
	margin: 0;
	display: none;
	background-color: #016ca4;
	opacity: 0.75;
	width: 100%;
	height: 100%;
	position: absolute;
	text-decoration: none;
	z-index: 2;
	text-align: center;
}

.hover_link_work_element {
	margin-top: 50px;
	padding: 4px 5px;
	display: inline-block;
	border: solid 2px #fff;
	border-radius: 5px;
	box-shadow: 0 0 1px #5c9da6;
	text-decoration: none;
	color: #fff;
	font: normal 12px/1.2 fira_sansbook,sans-serif;
}

.hover_works_element:hover .hover_wrapper_works_element  {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}	